body {
    background-color: slateblue;

}

div {
    border:2px solid rgb(191, 186, 186);
    width: 45rem;
    height: 6rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 35%;
    left: 25%;
    text-align: center;
    background-color: white;
}

#myList {
    padding-top: 1.5rem;
}

#insetItem {
    padding: 0.8rem 20rem 0.8rem 0.8rem;
    border-radius: 0.5rem;
    border:2px solid rgb(191, 186, 186);
    font-size: 0.8rem;
    font-weight: 5rem;
    font-family: "Open Sans";
}

#btnInsert {
    background-color: #08F4F4;
    padding: 0.8rem 3rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: "Open Sans";
}
